<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Foresight.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,316},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Laser_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,467},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{50,18}</string>
            </dict>
            <key>Laser_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,422},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{153,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,173}}</string>
                <key>sourceSize</key>
                <string>{153,173}</string>
            </dict>
            <key>ground0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{172,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,73}}</string>
                <key>sourceSize</key>
                <string>{172,73}</string>
            </dict>
            <key>ground1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,81},{163,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,135}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>ground2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,77}}</string>
                <key>sourceSize</key>
                <string>{491,77}</string>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,422},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>joystick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,256},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,422},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jump_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,467},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,281},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,422},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,246},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>suger03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,472},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{36,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>suger04.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,467},{16,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{16,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:070407edb8f49bae50c14bf80d8b3a1b:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
