<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BS_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,480},{120,126}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,30},{120,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,136}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,34},{116,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,486},{110,126}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,30},{110,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,650},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,672},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,746},{72,118}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,82},{72,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,676},{72,118}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,82},{72,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,450},{72,118}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,82},{72,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,376},{72,118}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,82},{72,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,602},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,598},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,124},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,650},{72,120}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,80},{72,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{112,128}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,63},{112,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,372},{112,128}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,63},{112,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,366},{112,128}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,63},{112,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{128,122}}</string>
                <key>offset</key>
                <string>{-12,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{128,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,244},{128,120}}</string>
                <key>offset</key>
                <string>{-13,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,77},{128,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{122,122}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{122,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{132,124}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,76},{132,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,246},{128,114}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,75},{128,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{130,120}}</string>
                <key>offset</key>
                <string>{-12,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{130,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,128},{128,122}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,77},{128,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,252},{128,118}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,79},{128,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,524},{124,120}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,76},{124,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{132,120}}</string>
                <key>offset</key>
                <string>{-12,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,77},{132,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{128,112}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,76},{128,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BS_walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,124},{130,118}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{130,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gunner.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03dde62372e26604105fa6610094d28:1/1$</string>
            <key>textureFileName</key>
            <string>gunner.png</string>
        </dict>
    </dict>
</plist>
