<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QW_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,478},{120,124}}</string>
                <key>offset</key>
                <string>{-17,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{120,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,210},{116,128}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,72},{116,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,662},{106,124}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{106,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,770},{106,122}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,78},{106,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,732},{106,122}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,78},{106,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,838},{106,120}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,80},{106,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{106,120}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,80},{106,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,730},{106,122}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,78},{106,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,624},{106,124}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{106,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,434},{106,126}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{106,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{106,128}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,72},{106,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,410},{106,126}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{106,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{106,124}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{106,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,662},{106,124}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{106,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,542},{118,124}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,76},{118,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,604},{122,124}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,76},{122,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{124,124}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{124,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,542},{118,124}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,76},{118,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,604},{122,124}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,76},{122,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_jump_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{124,124}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{124,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,224},{92,124}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{92,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{124,90}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,70},{124,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,98},{92,124}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{92,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{124,90}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,61},{124,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,224},{92,124}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{92,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{124,90}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,70},{124,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,98},{92,124}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{92,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_roll_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{124,90}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,61},{124,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,328},{104,128}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,72},{104,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,518},{104,126}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,74},{104,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,350},{108,126}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,74},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{110,128}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,72},{110,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{110,132}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,64},{110,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,98},{110,134}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,66},{110,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,142}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,58},{100,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{94,142}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,58},{94,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,136}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,64},{94,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,98},{94,132}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,65},{94,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,302},{106,128}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,71},{106,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>QW_walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,194},{106,130}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,70},{106,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>princess.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67b9b6fd1cffd3bfb97a3ddb0adfeb04:1/1$</string>
            <key>textureFileName</key>
            <string>princess.png</string>
        </dict>
    </dict>
</plist>
